<section class="section-hero">
  <div class="inside">
    <div class="logo">
      <a href="https://www.cookforweb.com">CookForWeb</a>
    </div>
    <div class="">
      <button class="button button-default" (click)="openModal('modal-sm')">Small Modal</button>
      <button class="button button-default" (click)="openModal('modal-lg')">Large Modal</button>
    </div>
  </div>
</section>

<router-outlet></router-outlet>


<cook-angularmodal [id]="'modal-sm'"
  [size]="'small'"
  [title]="'Small Modal'">
  <h3>The standard Lorem Ipsum passage, used since the 1500s</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</cook-angularmodal>


<cook-angularmodal [id]="'modal-lg'"
  [size]="'large'"
  [title]="'Large Modal'">
  <h3>The standard Lorem Ipsum passage, used since the 1500s</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <h3>The standard Lorem Ipsum passage, used since the 1500s</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</cook-angularmodal>

