<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /labs/demos/cook-angular-modal/dist/cook-angular-modal/
Options +FollowSymLinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.html [L,QSA]
</IfModule>
